<!DOCTYPE html>
<html>
<head>
    <title>LifeSketch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css" type="text/css" />
</head>
<body>
<div id="app"  :class="{ mobile: isMobile}">

    <div id="main-view">

        <div id="person-summary">
            <h1>Art Gallery</h1>
        </div>

        <div id="timeline-wrapper" onwheel="app.doScroll(event)">
            <div id="timeline-box" class="fs-inner-wrapper">            
            <div id="markers">
                <div id="flatLine" :style="{bottom: `${dividerHeight}rem`}"></div>
                <div v-for="era in eras" class="century-block" :id="era" :style="{width: `${eraWidth}px`}"><div class="era-label">{{era}}</div></div>
            </div>

            <div id="gallery">
                <div v-for="piece in galleryEls" :id="piece.idString" :class="{piecePos: true, hasImg: piece.img, ext: piece.type === 'ext'}" :style="{left: `${piece.netPos}px`, height: `calc( (100% - ${dividerHeight}rem) * ${piece.pos/100} + ${dividerHeight}rem)`}">
                    <div class="card">

                        <div v-if="piece.img" class="image">
                            <img :src="piece.img" :alt="piece.name">
                            <div class="openTheater" @click="setTheaterImage(piece)"></div>
                        </div>
                        
                        <div class="info">
                            <div class="title">{{piece.name}}</div>
                            <div class="date" v-if="!piece.img"><span v-if="piece.month">{{MONTH[piece.month]}}<span v-if="piece.day != 0"> {{piece.day}}</span>, </span>{{piece.year}}</div>
                            <div class="details">    
                                <div class="place">{{piece.loc}}</div>
                                <div class="note" v-html="piece.note"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
        <div id="controls">
            <div id="zoomBox">
                <div id="zoomIn" @click="changeEraZoom(5)" class="btn zoom"></div>
                <div id="zoomOut" @click="changeEraZoom(-5)" class="btn zoom"></div>            
            </div>
            <div id="addPieceBox">
                <div id="addPiece" class="btn">+ Add Piece</div>
            </div>
        </div>
    </div>

    </div>

    <div v-show="theaterOn" id="theater">
        <div id="screen">
            <div id="exitTheater" @click="closeTheater">&times;</div>
            <div id="imageBox" v-if="theaterMode == 'img'" :style="theaterData.bgSrc"  @click="toggleSubs"></div>
        </div>
        <div id="subs" v-if="theaterData.hasSubs" v-show="subsOn">
            <div v-if="theaterMode == 'img'">
                <div class="title">{{theaterData.name}}</div>
                <p class="notes" v-show="theaterData.note" v-html="theaterData.note"></p>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./gallery.js"></script>
<script src="./notesData.js"></script>
<script src="./index.js"></script>

</body>
</html>